<div id="reset">
  <mat-card class="clearfix">
    <mat-card-content>
      <form [formGroup]="resetForm" #resetForma="ngForm" (ngSubmit)="onSubmit()">
        <h1>Reset Password</h1>
        <mat-error id="error" *ngIf="!resetValid">
          {{alert}}
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" name="username" required>
          <mat-error>
            Please input your username
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="New password" formControlName="password" name="password" required>
          <mat-error>
            Please input your new password
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" name="email" required>
          <mat-error>
            Please input your email address
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!resetForma.form.valid">Reset</button>
      </form>
    </mat-card-content>
    <a id="login" href="login">Back to login</a>
    <a href="" style="float:left">Back to main page</a>
    <div></div>
  </mat-card>
</div>
